<div class="dashboard">
  <img src="/img/dashboard.svg" alt="" />
  <div class="text">
    <h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, doloremque?
    </h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Culpa quidem odio
      temporibus possimus cupiditate fugit dolor eos reiciendis. Quos, eius officiis neque
      dolorum temporibus necessitatibus rem exercitationem quibusdam blanditiis natus!
    </p>
    <a  href="/events/info" class="btn">See events</a>
  </div>
</div>
