<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Website</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,700"
      rel="stylesheet" />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <nav>
        <h2>Logo</h2>
        <div class="toggle">toggle</div>
        <ul class="navLinks">
          <% if (user) { %>
          <li><a href="/dashboard" class="btn">Home</a></li>
          <li><a href="/events/info">Info</a></li>
          <li><a href="/events/create">Create</a></li>
          <li><a href="/events/documentation">Doc</a></li>
          <li><a href="/users/logout">Logout</a></li>
          <% } else { %>
          <li><a href="/users/register" class="btn">Join Us</a></li>
          <li><a href="/users/login">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <main><%- include('messages.ejs') %> <%- body %></main>

    <script>
      const toggle = document.querySelector(".toggle");
      const nav = document.querySelector(".navLinks");
      toggle.addEventListener("click", () => {
        nav.classList.toggle("show");
      });
    </script>
  </body>
</html>
