<div class="container-form">
    <div class="welcome-box">
        <h2>Welcome</h2> <br> 
        <a class="btn" href="/users/register">Create account</a>
        <a class="btn" href="/users/login">Login</a>
    </div>
</div>