<div class="container-form">
    <form action="/users/login" class="login-form" method="POST">
      <h2 class="title">Login</h2>
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your email address"
      />
  
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Enter your password"
      />
      <p>Create an account? <a class="bl-tag" href="/users/register">Register</a></p>
  
      <input type="submit" class="btn" value="Submit" />
    </form>
  </div>