<h1 class="title"><%= event.title %> Documentation</h1>
<br>
<div class="imgBox">
  <% event.documentation.forEach((doc) => { %>
    <img class="imageDoc" src="/tmp/<%= doc.filename %>" alt=""> <!-- Adjust the src path here -->
  <% }) %>
</div>
